/* make the level one heading pink */
/* give the heading a 10px dotted border */
h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
}

/* make the level 2 heading italic */
h2 {
    font-style: italic; 
    font-size: 1.5em;
}

ul {
    background-color: #eeeeee;
    border-bottom: 5px solid purple;
    padding: 5px;
}

a:hover {
    color: green;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 0;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}
