body{
    background-color: khaki;
}

/* make me turn purple */
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover {
    background-color: purple; 
}

/* make me move around */
#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes box2move {
    0% {
        top: 0px;
        left: 0 px;
    }
    100% {
        top: 100px;
        left: 100px; 
    }
}