 /* General styles - put these straight into your stylesheet */
body {
  margin: 0;
}
  
html {
  font-family: 'Helvetica Neue', Arial, 'sans-serif';
  font-size: 10px;
  background-color: #ccc;
}

styles specific to the header
.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/* styles specific to the footer */
.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

/* styles specific to the header and footer */
.card header,
.card footer {
  height: 5em;
  padding: 1em;
  box-sizing: border-box;
} 

/* Reset default margin for h2 and p */
h2,
p {
  margin: 0;
}

/* styles specific to the body of the business card */
.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card article { 
  height: 12em; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1em; 
  box-sizing: border-box;
} 

.card article img {
  max-height: 100%;
  float: right;
}

/* Set font size and line height for h2 */
.card header h2 {
  font-size: 2em; 
  line-height: 1.5em; 
  text-align: left;
}

/* Set font size and line height for p inside the footer */
.card footer p {
  font-size: 1.5em; 
  line-height: 2em; 
  text-align: center;
}

/* Paragraph inside article */
.card article p {
  padding-left: 1em;
  color: #f0f0f0;
}



/* personal buisness card */
/* styles specific to the header */
.mycard header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/* styles specific to the footer */
.mycard footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

/* styles specific to the header and footer */
.mycard header,
.mycard footer {
  height: 5em; 
  padding: 1em;
  box-sizing: border-box; 
}

/* styles specific to the body of the business card */
.mycard {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: #3c8ad7;
  border: 0.2em solid #04356a;
  border-radius: 1.5em;
}

.mycard article {
  height: 12em; /* 120px */
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 1em; 
  box-sizing: border-box;
} 

.mycard img {
  max-height: 100%;
  float: right;
}

/* Set font size and line height for h2 */
.mycard header h2 {
  font-size: 2em; 
  line-height: 1.5em; 
  text-align: left;
}

/* Set font size and line height for p inside the footer */
.mycard footer p {
  font-size: 1.2em;
  line-height: 2em;
  text-align: center; 
} 

/* Paragraph inside article */
.mycard article p {
  padding-left: 1em;
  color: #f0f0f0;
}
