
body {
    background: url(/img/nba.jpg);
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover;
    position:fixed;
}

.score {
    background: 
        url(/img/final-score.png) no-repeat bottom;
    height: 50%;
    width: 50%;
    position: relative;
}

 .nbalogo {
    background: url(/img/nba-logo.png) no-repaet top left;
}

.espnlogo {
    background: url(/img/espn-logo.png) no-repeat top ;
}