
body {
    background: url(/img/nba.jpg);
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover;
    position:fixed;
}

.score{
    background: url(/img/final-score.png) no-repeat bottom;
    height: 25%;
    width: 25%;
    position: relative;
}

 /* .nbalogo {
    background: url(/img/nba-logo.png) no-repeat top left;
}

.espnlogo {
    background: url(/img/espn-logo.png) no-repeat top ;
} */