body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2e4fd;
    font-family: Impact, sans-serif;
}

h1 {
    font-size: 40px;
}

nav {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the nav items */
    align-items: center;
    gap: 10px; /* Optional: Add gap between nav items */
}

nav a {
    flex: 1; 
    background-color: #7c5295;
    color: white;
    border: 1px solid;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    
    white-space: nowrap;

    /* flex: 1;
    background-color: #7c5295;
    color: white;
    width: 10vw;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out */
}
nav a:hover,
nav a:focus {
    background-color: white;
    color: #7c5295;
}

img {
    height: 70vh;
    filter: drop-shadow(0px 4px 6px black);
}

#purple-box {
    width: 70px;
    height: 70px;
    background-color: #7c5295;
    position: absolute;
    top: 90vh; /* Adjust based on the image height and desired position */
    animation: move-side-to-side 7s infinite alternate;
}

@keyframes move-side-to-side {
    0% {
        left: 0;
    }
    100% {
        left: calc(100vw - 50px); /* Adjust based on the box width */
    }
}