/* general body desgin */
body {
    background-color: #f0e7d6;
}

h1 h3{
    font-family: 'Archivo Black', sans-serif;
}

h2 p {
    font-family: 'Noto Serif', serif;
}

/* font size */
h1 {
    font-size: 40px;
}

h2 h3 h4{
    font-size: 20px;
}

p {
    font-size: 15px;
}

img {
    max-width: 100%;
    display: block;
}

/* general navigation bar desgin */
nav {
    /* make the navigation bar scroll with the content */
    position: sticky;
    top: 0px;
    left: 0px; 
    background-color: #daa38f;
    padding: .5em;
}

nav ul {
    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav a {
    /* make the navigation bar items fill the available space */ 
    flex: 1; 
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;

    /* archivo black font */

}

/* make then the same font color */
.page_top {
    color: #daa38f;
    height: 70px; 
}

/* archivo black font */
.page_top h1 {
    text-align: center;
}

/* serif font */
.page_top h2 {
    text-align: center;
}

/* general sechedule outline */
.schedule div {
    background-color: #dcbda1;
}

button {
    background-color: #daa38f;
}

.type_1 {
    height: 60px;
}

.type_1 img {
    float: right;
}

.type_2 {
    height: 60px;
}

.type_2 {
    float: left;
}
