/* image of mountians behind title */
.page_top {
    background-image: url(mountians.jpg);
    color: white;
    height: 200px;
}

/* 2 blurbs below the title */
.about_us {
    height: 200px;
    background-color: #c0cfb2;
    color: white;
}  
  
  /* general body design */
body {
    background-color: #e4e6d9;
    text-align: center;
}
    
footer {
    background-color: #6c8776;
    height: 30px;
}
    
h1 {
    font-family: Impact, sans-serif;
    font-size: 40px;
    margin-top: 10px;
}
    
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
}
    
h3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
}
    
h4 {
    font-family: Impact, sans-serif;
    font-size: 15px;
}
    
p {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 12px;
}
    
img {
    display: block;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 6px black);
}
    
.schedule {
    background-color: #c0cfb2;
    color: white;
}
    
nav {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #6c8776;
    padding: .5em;
 }
    
nav ul {
    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
    
nav a {
    /* make the navigation bar items fill the available space */
    flex: 1;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    transition: all 0.5s ease-out;
}
    
nav li:hover,
nav li:focus
{
    background-color: white;
    color: #6c8776;
}
    
    /* make them the same font color */
.page_top {
    color: #6c8776;
    height: 200px;
}
    
/* general schedule outline */
.more_information {
    background-color: #6c8776;
    color: white;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.text {
    flex: 3;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* media 400px width */
