  /* general body design */
body {
    background-color: #e4e6d9;
    text-align: center;
}
    
footer {
    background-color: #6c8776;
    height: 30px;
}
    
h1 {
    font-family: Impact, sans-serif;
    font-size: 40px;
    margin-top: 10px;
}
    
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
}
    
h3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
}
    
h4 {
    font-family: Impact, sans-serif;
    font-size: 15px;
}
    
p {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 12px;
}
    
img {
    display: block;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 6px black);
}
    
.schedule {
    background-color: #c0cfb2;
    color: white;
}
    
nav {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #6c8776;
    padding: .5em;
 }
    
nav ul {
    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
    
nav a {
    /* make the navigation bar items fill the available space */
    flex: 1;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    transition: all 0.5s ease-out;
}
    
nav a:hover,
nav a:focus
{
    background-color: white;
    color: #6c8776;
}
    
    /* make them the same font color */
.page_top {
    color: #6c8776;
    height: 200px;
}
    
/* general schedule outline */
.more_information {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    clear: both;
    justify-content: space-around;
    gap: 20px;
}
    
/* make the text into a 3 by 3 grid */
.more_information div {
    flex: 1 1 calc(33.333% - 20px);
}
        
/* media 400px width */
/* Media Query for screen sizes of 400px or less */
@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    p {
        font-size: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav a {
        padding: .5em;
    }

    .page_top {
        flex-direction: column;
    }

    .page_top div {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .more_information {
        flex-direction: column;
        margin-top: 20px;
    }

    .more_information div {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}