/* image of mountians behind title */
.page_top {
    color: #6c8776;
    padding: 15px;
}

/* 2 blurbs below the title */
.about_us {
    color:#6c8776;
    padding: 10px;
}

.about_us h2 {
    font-size: 25px;
}
  
  /* general body design */
body {
    background-color: #e4e6d9;
    text-align: center;
}
    
footer {
    background-color: #6c8776;
    height: 50px;
}
    
h1 {
    font-family: Impact, sans-serif;
    font-size: 55px;
    margin-top: 20px;
}
    
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
    
h3 {
    font-family: Impact, sans-serif;
    font-size: 40px;
}
    
h4 {
    font-family: Impact, sans-serif;
    font-size: 25px;
}
    
p {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
}
    
   
.schedule {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #6c8776;
    color: white;
}

.schedule h2 {
    color: white;
    font-size: 40px;
}

.schedule h4 {
    color: #c0cfb2; 
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(20%);
}
.image img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #6c8776;
    padding: .5em;

    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
  /* Style the links inside the navigation bar */
.nav a {
    /* make the navigation bar items fill the available space */
    flex: 1;
    color: #fff;
    font-family: Impact, sans-serif;
    text-decoration: none;
    padding: .5em 1em;
    transition: all 0.5s ease-out;
    text-align: center;
}
  
  /* Change the color of links on hover */
.nav a:hover, .nav a:focus {
    background-color: white;
    color: #6c8776;
}

.more_information h2 {
    font-size: 50px;
    padding: 10px;
}

.more_information h4 {
    color: #6c8776;
}

.more_information h3 {
    color: #6c8776;
}

footer p{
    color: white;
    padding: 10px;
}
    
    
/* general schedule outline */


/* media 400px width */
@media (max-width: 400px) {
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }


    .schedule {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .schedule h2 {
        font-size: 20px;
    }

    .schedule h4 {
        font-size: 18px;
    }

    .nav {
        flex-direction: row;
    }

    .nav a {
        padding: .5em;
    }

    .more_information h2 {
        font-size: 23px;
    }

    .image {
        margin-top: 20px;
    }
}