/* general body design */
body {
    background-color: #e4e6d9;
    text-align: center;
}

h2 p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/* font size */
h1 {
    font-family: Impact, sans-serif;
    font-size: 40px;
}

h3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
}

h2 h4 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

img {
    max-height: 100%;
    display: block;
}

.schedule {
    background-color: #c0cfb2;
    color: white;
    width: 300px;
    margin-left: 20px;
}

/* .grid {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
} */

/* general navigation bar design */
nav {
    /* make the navigation bar scroll with the content */
    position: sticky;
    top: 0px;
    left: 0px; 
    background-color: #6c8776;
    padding: .5em;
}

nav ul {
    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav a {
    /* make the navigation bar items fill the available space */ 
    flex: 1; 
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
}

nav a:hover,
nav a:focus {
    background-color: white;
    color: #6c8776;
}

/* make them the same font color */
.page_top {
    color: white;
    height: 300px; 
}

/* general schedule outline */
.more_information {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: left;
    clear: both;
    justify-content: space-around;
    gap: 20px;
}

.more_information div {
    flex: 1 1 calc(33.333% - 20px);
}