/* general body desgin */
body {
    background-color: #f0e7d6;
    text-align: center;
}

h1 h3{
    font-family: 'Archivo Black', sans-serif;
}

h2 p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}

/* font size */
h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

h2 h4{
    font-size: 15px;
}

p {
    font-size: 12px;
}

img {
    max-height: 100%;
    display: block;
}

/* general navigation bar desgin */
nav {
    /* make the navigation bar scroll with the content */
    position: sticky;
    top: 0px;
    left: 0px; 
    background-color: #daa38f;
    padding: .5em;
}

nav ul {
    /* put the list items in a row */
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav a {
    /* make the navigation bar items fill the available space */ 
    flex: 1; 
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;

    /* archivo black font */

}

/* make then the same font color */
.page_top {
    color: black;
    height: 300px; 
}

/* general sechedule outline */
.schedule div {
    height: 200px;
    text-align: center;
}

button {
    background-color: #daa38f;
    color:#fff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.type_1 img {
    float: right;
    border-radius: 10px; 
    margin-right: 20px;
    width: 400px;
    filter: drop-shadow(0px 4px 6px black);
}

.type_2 img{
    float: left;
    border-radius: 10px; 
    margin-left: 20px;
    width: 400px;
    filter: drop-shadow(0px 4px 6px black);
}

/* general more information outline */
.more_information div {
    height: 300px;
    text-align: center;
}