body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; 
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
    grid-column: 3;
}
#flex-child2{
    grid-column: 4;
}
#flex-child3{
    grid-column: 2;
}
#flex-child4{
    grid-column: 1;
}


#grid-parent{
    display: grid;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    grid-row: 4;
    grid-column: 2;
}
#no1{
    grid-row: 1;
    grid-column: 1;
}
#no2{
    grid-row: 1;
    grid-column: 2;
}
#no3{
    grid-row: 1;
    grid-column: 3;
}
#no4{
    grid-row: 2;
    grid-column: 1;
}
#no5{
    grid-row: 2;
    grid-column: 2;
}
#no6{
    grid-row: 2;
    grid-column: 3;
}
#no7{
    grid-row: 3;
    grid-column: 1;
}
#no8{
    grid-row: 3;
    grid-column: 2;
}
#no9{
    grid-row: 3;
    grid-column: 3;
}